@keyframes vanish {
    0%   { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

@keyframes revanish {
    0% { opacity: 0; visibility: hidden; }
    100%   { opacity: 1; visibility: initial; }
}

@keyframes body-overflow{
    0% {overflow-y: hidden;}
    99% {overflow-y: hidden;}
    100% {overflow-y: auto;}
}

@keyframes spin{
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}
@keyframes move-x {
    from {
        left: 0;
    }
    to {
        left: calc(100% - var(--size));
    }
}

@keyframes move-y {
    from {
        top: 0;
    }
    to {
        top: calc(100% - var(--size));
    }
}

@keyframes width{
    0% { width: 0 }
    55% { width: 30% }
    75% { width: 35% }
    100% { width: 100% }
}

@keyframes chaos-position {
    0%   { translate: 0 0; }
    20%  { translate: 25% -40%; }
    40%  { translate: -35% 20%; }
    60%  { translate: 30% 45%; }
    80%  { translate: -20% -30%; }
    100% { translate: 0 0; }
}

@keyframes chaos-rotate {
    0%   { rotate: 0deg; }
    30%  { rotate: 20deg; }
    60%  { rotate: -35deg; }
    100% { rotate: 0deg; }
}

@keyframes chaos-scale {
    0%   { transform: scale(1, 1); }
    10%  { transform: scale(1.15, 0.6); }
    25%  { transform: scale(0.85, 1.1); }
    40%  { transform: scale(1.25, 1.05); }
    55%  { transform: scale(0.9, 0.8); }
    70%  { transform: scale(1.1, 1.2); }
    85%  { transform: scale(0.95, 1.05); }
    100% { transform: scale(1, 1); }
}


@keyframes walk {
    0%   { translate: 0 0; }
    50% { translate: 70vw 0; }
    100%   { translate: 0 0; }
}

@keyframes hop {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-15vw); }
    50% { transform: translateY(0); }
    75%  { transform: translateY(-15vw); }
    100%   { transform: translateY(0); }
}

@keyframes falling {
    0%   { transform: translate(-50%, -200%); }
    100%   { transform: translate(-50%, -50%);  }
}

@keyframes unfold {
    0% {transform: rotateY(-90deg);}
    100% {transform: rotateY(0deg);}
}

@keyframes speaking{
    0%   { transform: scale(0) translate(250%, 250%); }
    100%   { transform: scale(1) translate(0%, 0%) ; }
}