@import url('reset.css');
@import url('fonts.css');
@import url('animations.css');

:root {
    --vanish-delay: 3s;
    --vanish-duration: 1s;
    --vanish-time: calc(var(--vanish-delay) + var(--vanish-duration));
}

* {
    font-family: 'Geist', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    animation: body-overflow var(--vanish-delay);
    overflow-x: hidden;
}

/*гениальнейшая вещь, работает во всех браузерах младше 2020 года. Если не сработает, то просто не будет анимации фона*/
@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

body {
    background-color: #0040ff;
    color: #ffffff;
    height: 210vw;
    max-height: 210vw;

    --angle: 0deg;
    background-image: repeating-conic-gradient(
            from var(--angle) at 50vw 100vw,
            red 0deg 15deg,
            transparent 15deg 30deg
    );
    background-repeat: no-repeat;
    background-size: 280vw 280vw;
    animation: spin 20s linear infinite;
}

/* Это что бы скрол видно не было */
body::-webkit-scrollbar {
    display: none;         
}


.opener{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: #0058ff;
    animation: vanish var(--vanish-duration) forwards;
    animation-delay: var(--vanish-delay);
    z-index: 10000;
}


.kaomoji {
    position: fixed;
    inset: 0;
    display: inline-block;
    font-size: 4vw;
    font-weight: 900;
    color: white;
    .x{
        animation: move-x 3s linear infinite alternate
    }
    .y{
        display: inline-block;
        animation: move-y 2.27s linear infinite alternate;
    }
}

.loading{
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 3vw;
    color: #f50404;
}

.loading_bar{
    width: 15vw;
    height: 3vw;
    border: 2px solid #f50404;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.loading_bar div{
    height: 100%;
    width: 100%;
    animation: width var(--vanish-delay) forwards;
    font-size: 2vw;
    color: #f50404;
}

.all {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20vw;
    animation: revanish var(--vanish-duration) var(--vanish-delay) forwards;
    z-index: 1;
}

.plate{
    display: flex;
    flex-wrap: wrap;
    gap: 0.95vw;
    align-items: center;
    justify-content: center;
}

.plate p{
    font-size: 25vw;
    position: relative;
    animation: chaos-position 2s ease infinite,
    chaos-rotate   2s ease infinite,
    chaos-scale    2s ease infinite,
    chaos-weight 2s ease infinite;
}

.plate p::after{
    content: attr(data-char);
    position: absolute;
    inset: 0;
    color: black;
    z-index: -1;
    translate: 1vw 1vw;
}

.running_strokes{
    position: absolute;
    inset: 0;
    z-index: 2;
}
.running_stroke{
    background: #ffffff;
    color: #000000;
    position: absolute;
    font-size: 3vw;
    z-index: 10000;
    transform: translateX(60%);
    animation: welcome 4s var(--vanish-delay) linear forwards,
            run 4s calc(var(--vanish-delay) + 4s) linear infinite;
}

.line-hitbox{
    position: absolute;
    width: 100%;
    height: 4vw;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}

.line-overlay {
    opacity: 0;
    visibility: hidden;
}

.line-hitbox:focus ~ .line-overlay {
    animation: revanish 0.1s forwards,
    vanish 0.2s linear 4.1s forwards;
}

.line-hitbox:focus ~ .line-overlay > .running_stroke {
    animation: laugh 4s linear 0.1s 1;
}