@import url('reset.css');
@import url('fonts.css');
@import url('animations.css');

:root {
    --size: 12vh;
    --vanish-delay: 4s;
    --vanish-duration: 1s;
    --vanish-time: calc(var(--vanish-delay) + var(--vanish-duration));
}

body {
    background-color: #2A4282;
    color: #F7E104;
    animation: body-overflow var(--vanish-time);
    overflow-x: hidden;
}

/* Это что бы скрол видно не было */
body::-webkit-scrollbar {
    display: none;         
}

* {
    font-family: 'Geist', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.opener{
    position: fixed;
    inset: 0;
    background-color: #214282;
    animation: vanish var(--vanish-duration) forwards;
    animation-delay: var(--vanish-delay);
    z-index: 10000;
}


.logo {
    background-size: 100% 100%;
    position: absolute;
    background-image: url("../images/icon.svg");
    width: var(--size);
    height: var(--size);
    animation:
            move-x 2s linear infinite alternate,
            move-y 1.68s linear infinite alternate;
    animation-delay: -1.7s, -0.6s;
}

.loading{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 10vh;
    color: #F7E104;
}

.loading_bar{
    width: 300px;
    height: 2.5vh;
    border: 2px solid #F7E104;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.loading_bar div{
    height: 100%;
    width: 100%;
    background: #f5e004;
    animation: width var(--vanish-delay) forwards;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    animation: revanish var(--vanish-duration) forwards;
    animation-delay: var(--vanish-delay);
}

.plate{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    p {
        font-size: 25vw;
        position: relative;
        animation: chaos-position 2s ease infinite,
        chaos-rotate 2s ease infinite,
        chaos-scale 2s ease infinite;
    }
}

.cage_animate{
    width: 100vw;
    display: flex;
}

.pre_vanish, .after_vanish{
    display: inline-block;
    vertical-align: top;
}

.cage_animate:focus > .pre_vanish{
    animation: vanish var(--vanish-duration) forwards;
    animation-iteration-count: initial;
}

.happy_smile{
    height: 15vw;
    width: 15vw;
    background-image: url("../images/happy_smile.svg");
    background-size: 100% 100%;
    left: 5vw;
    bottom: 10vh;
    animation:
            walk 4.8s linear infinite,
            hop 1.2s ease-in-out infinite;
}
.after_vanish{
    position: relative;
    visibility: hidden;
    perspective: 40000px;
}
.cage_animate:focus > .after_vanish{
    animation: revanish var(--vanish-duration) forwards;
}
.cage_animate:focus > .after_vanish > .cage{
    animation: falling var(--vanish-duration) forwards;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.cage_animate:focus > .after_vanish > .crazy_men{
    animation: unfold calc(2 * var(--vanish-duration)) var(--vanish-duration) ease-out forwards;
}

.cage_animate:focus > .after_vanish > .amaze{
    animation: speaking calc(2 * var(--vanish-duration)) var(--vanish-duration) ease-out forwards;
}

.cage, .sad_smile {
    position: absolute;
    top: 10%;
    left: 10vw;
    transform: translate(-50%, -50%); 
    background-size: 100% 100%;
}

.cage{
    background-image: url("../images/cage.svg");
    height: 27vw;
    width: 24vw;
    z-index: 2;
}

.sad_smile{
    height: 15vw;
    width: 15vw;
    background-image: url("../images/sad_smile.svg");
    z-index: 1;
}

.crazy_men{
    position: absolute;
    left: 60vw;
    top: -10vw;
    height: 25vw;
    width: 25vw;
    background-image: url("../images/crazy_men.svg");
    background-size: 100% 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform-origin: center center;
    transform: rotateY(90deg);
}

.amaze{
    font-size: 3vw;
    position: absolute;
    left: 45vw;
    top: -10vw;
    transform:scale(0) translate(250%, 250%);
}