@import url('reset.css');
@import url('fonts.css');
@import url('animations.css');

:root {
    --size: 12vh;
    --vanish-delay: 4s;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Geist', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.opener{
    position: fixed;
    inset: 0;
    background-color: #214282;
    animation: vanish 1s forwards;
    animation-delay: var(--vanish-delay);
}

.logo {
    background-size: 100% 100%;
    position: absolute;
    background-image: url("../images/icon.svg");
    width: var(--size);
    height: var(--size);
    animation:
            move-x 2s linear infinite alternate,
            move-y 1.68s linear infinite alternate;
    animation-delay: -1.7s, -0.6s;
}

.loading{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 10vh;
    color: #F7E104;
}

.loading_bar{
    width: 300px;
    height: 2.5vh;
    border: 2px solid #F7E104;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.loading_bar div{
    height: 100%;
    width: 100%;
    background: #f5e004;
    animation: width var(--vanish-delay) linear forwards;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: revanish 1s forwards;
    animation-delay: var(--vanish-delay);
}

.plate{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    p {
        font-size: 51vh;
    }
}