@import url('reset.css');
@import url('fonts.css');
@import url('animations.css');

:root {
    --vanish-delay: 3s;
    --vanish-duration: 1s;
    --vanish-time: calc(var(--vanish-delay) + var(--vanish-duration));
}

.body {
    background-color: #0040ff;
    color: #ffffff;
    animation: body-overflow var(--vanish-time);
    overflow-x: hidden;
}

body:before {
    content: "";
    position: absolute;
    width: 280vw;           
    height: 280vw;
    border-radius: 50%;
    left: 50vw;              
    top: 100vw;              
    transform: translate(-50%, -50%);
    background-image: repeating-conic-gradient(
            red 0deg 15deg,
            transparent 15deg 30deg
    );
    animation: spin 20s linear infinite;
    z-index: -1;  
}

/* Это что бы скрол видно не было */
body::-webkit-scrollbar {
    display: none;         
}

* {
    font-family: 'Geist', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.opener{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: #0058ff;
    animation: vanish var(--vanish-duration) forwards;
    animation-delay: var(--vanish-delay);
    z-index: 10000;
}


.kaomoji {
    position: fixed;
    inset: 0;
    display: inline-block;
    font-size: 4vw;
    font-weight: 900;
    color: white;
    .x{
        animation: move-x 3s linear infinite alternate
    }
    .y{
        display: inline-block;
        animation: move-y 2.27s linear infinite alternate;
    }
}

.loading{
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 3vw;
    color: #f50404;
}

.loading_bar{
    width: 15vw;
    height: 3vw;
    border: 2px solid #f50404;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.loading_bar div{
    height: 100%;
    width: 100%;
    animation: width var(--vanish-delay) forwards;
    font-size: 2vw;
    color: #f50404;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    animation: revanish var(--vanish-duration) forwards;
    animation-delay: var(--vanish-delay);
}

.plate{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.plate p{
    font-size: 25vw;
    position: relative;
    animation: chaos-position 2s ease infinite,
    chaos-rotate   2s ease infinite,
    chaos-scale    2s ease infinite,
    chaos-weight 2s ease infinite;
}

.plate p::after{
    content: attr(data-char);
    position: absolute;
    inset: 0;
    color: black;
    z-index: -1;
    translate: 1vw 1vw;
}

.cage_animate{
    width: 100vw;
    display: flex;
}

.pre_vanish, .after_vanish{
    display: inline-block;
    vertical-align: top;
}

.cage_animate:focus > .pre_vanish{
    animation: vanish var(--vanish-duration) forwards;
    animation-iteration-count: initial;
}

.happy_smile{
    height: 15vw;
    width: 15vw;
    background-image: url("../images/happy_smile.svg");
    background-size: 100% 100%;
    left: 5vw;
    bottom: 10vh;
    animation:
            walk 4.8s linear infinite,
            hop 1.2s ease-in-out infinite;
}
.after_vanish{
    position: relative;
    visibility: hidden;
    perspective: 40000px;
}
.cage_animate:focus > .after_vanish{
    animation: revanish var(--vanish-duration) forwards;
}
.cage_animate:focus > .after_vanish > .cage{
    animation: falling var(--vanish-duration) forwards;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.cage_animate:focus > .after_vanish > .crazy_men{
    animation: unfold calc(2 * var(--vanish-duration)) var(--vanish-duration) ease-out forwards;
}

.cage_animate:focus > .after_vanish > .amaze{
    animation: speaking calc(2 * var(--vanish-duration)) var(--vanish-duration) ease-out forwards;
}

.cage, .sad_smile {
    position: absolute;
    top: 10%;
    left: 10vw;
    transform: translate(-50%, -50%); 
    background-size: 100% 100%;
}

.cage{
    background-image: url("../images/cage.svg");
    height: 27vw;
    width: 24vw;
    z-index: 2;
}

.sad_smile{
    height: 15vw;
    width: 15vw;
    background-image: url("../images/sad_smile.svg");
    z-index: 1;
}

.crazy_men{
    position: absolute;
    left: 60vw;
    top: -10vw;
    height: 25vw;
    width: 25vw;
    background-image: url("../images/crazy_men.svg");
    background-size: 100% 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform-origin: center center;
    transform: rotateY(90deg);
}

.amaze{
    font-size: 3vw;
    position: absolute;
    left: 45vw;
    top: -10vw;
    transform:scale(0) translate(250%, 250%);
}